/* public/css/app.css */
#timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#timeDisplay {
    font-size: 3rem;
    margin-top: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
}

#tasks {
    margin-top: 50px;
}

#tasks ul {
    list-style-type: none;
    padding: 0;
}

#tasks li {
    margin: 5px 0;
}

#authLinks {
    margin-top: 50px;
}
